{:deps {io.github.nextjournal/clerk
        {:git/sha "583369b6311db7700961c722a0a719fdff0dccd6"}
        io.github.nextjournal/clerk.render
        {:git/url "https://github.com/nextjournal/clerk.git"
         :git/sha "583369b6311db7700961c722a0a719fdff0dccd6"
         :deps/root "render"}}}
