{:deps {io.github.nextjournal/clerk
        {:git/sha "60f2399dcdaf39f5d7bc2c213a8dde9a6e0081a9"}
        io.github.nextjournal/clerk.render
        {:git/url "https://github.com/nextjournal/clerk.git"
         :git/sha "60f2399dcdaf39f5d7bc2c213a8dde9a6e0081a9"
         :deps/root "render"}}}
