{:deps {io.github.nextjournal/clerk
        {:git/sha "ec666210f11763fce4fec74072acca1e6525d29f"}
        io.github.nextjournal/clerk.render
        {:git/url "https://github.com/nextjournal/clerk.git"
         :git/sha "ec666210f11763fce4fec74072acca1e6525d29f"
         :deps/root "render"}}}
